@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* CSS Variables */
:root {
    --primary_color: #b90415;
    --primary_color_hover: #d3071b;
    --secondary_color: #103063;
    --secondary_color_hover: #143f85;
    --light_color: #f4f4f4;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
    background: #252529;
    margin: 0;
    color: #fff;
    line-height: 2;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #ccc;
}

/* Section class styling */

.section {
    padding: 2rem 0;
}

.section_head_logo {
    font-size: 2.5rem;
    margin: 0;
}

.section h3 {
    font-size: 2rem;
}
section#entertainment {
    background: url('myTunes%20img%203.jpeg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 10rem 0;
}

.gift_cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}

#showcase {
    margin: 0;
    padding: 0;
    background: url('showcase.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 150vh;
    position: relative;
    overflow-y: hidden;
}

#showcase .container {
    margin-top: 25vh;
}

#showcase h1 {
    font-size: 4rem;
}


#showcase h2 {
    font-size: 2rem;
}

/* Footer */
footer .footer_columns {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    text-align: left;
    font-size: 15px;
}

footer .footer_columns ul {
    list-style: none;
}

/* Targets every list first child */

footer .footer_columns ul li:first-child {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #444;
    margin-bottom: 1rem;
}

footer .footer_bottom {
    padding: 1rem;
    background: #333;
}
/* container class */
.container {
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}

/* stream_leads class */
.stream_leads {
    font-size: 1.3rem;
}

/* pjtunes_info class */
.pjtunes_info {
    font-size: 1.3rem;
}


.text_center {
    text-align: center;
}

/* btn classes */

.btn {
    padding: 1rem;
    color: #fff;
    display: inline-block;
    border-radius: 50px;
}

.btn_primary {
    background: var(--primary_color);
    transition: transform 1s ease;
}
.btn_primary:hover {
    background: var(--primary_color_hover);
    transform: translateY(8px);
    transform: scale(0.8);
}

.btn_secondary {
    background: var(--secondary_color);
    transition: transform 1s ease;
}

.btn_secondary:hover {
    background: var(--secondary_color_hover);
    transform: translateY(8px);
    transform: scale(0.8);
}

/* Light text styling */

.light_text {
    color: var(--light_color);
}

.text_sec{
     background: var(--secondary_color);
}

.text_primary {
    background: var(--primary_color);
}

.video_bg_light {
    background: var(--light_color);
    color: #333;
}

.mb {
    margin-bottom: 1rem;
}

/* Navigation(nav) */

nav {
    height: 40px;
    width: 100%;
    background-color: #333;
    color: rgb(51,34,34);
    position: fixed;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
}

nav li:hover {
    background-color: #444;
}

nav a#openup {
    display: none;
}
